# Xcode
DerivedData/
*.xcuserdata/
*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcodeproj

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store
*.dSYM
*.dSYM.zip

# Build output
build/
*.app

# Archives & release artifacts
*.ipa
*.xcarchive
*.zip
*.dmg
